body{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
}

.main-nav{
    background-color: brown;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-right: 60px;
}

.logo{
    margin-left: 80px;
    font-size: 40px;
}

.main-nav ul li a{
    text-decoration: none;
    color: white;
}


